.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

  .sec1,
  .sec2,
  .sec3 {
    padding-top: 20px;
    text-align: center;
    border: 1px solid;
  }

  /* .example-card {
    width: 400px;
  } */

  mat-card {
      width: 90%;
  }

  .mat-card-header {
    display: flex;
    flex-direction: row;
    /* text-align: center; */
    margin: 0 30% 0 30%;
  }
  .mat-card-image {
    width: 40%;
    height: 19em;
    margin: 12px 30% 0px 30%;
  }
  .mat-card-content,
  .mat-card-actions,
  .mat-card-header-text {
      display: block;
      margin-bottom: 16px;
      margin-top: 20px;
      text-align: center;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }


@media screen and (max-width: 600px) {
  .container {
    background: red;
    flex: 1 1 auto;
  }
}