
 <button mat-raised-button [matMenuTriggerFor]="menu">Menu</button>
 <mat-menu #menu="matMenu">
   <button mat-menu-item (click)="goHome()">Home</button>
   <button mat-menu-item>Schedule a Match!</button>
   <button mat-menu-item (click)="onLogout()">Logout</button>
 </mat-menu>

<div fxLayout="row" fxLayout.xs="column" fxFlexFill style="justify-content: flex-start;">
   
    <div
    class="sec1" 
    fxFlex.xs="55"
    fxFlex="25"
    *ngFor="let courts of courts"
    >
        <mat-card class="cardStyle">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{courts.name}}</mat-card-title>
            <mat-card-subtitle>{{courts.address}}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src={{courts.thumb}} alt="Free Court" style="min-height: 200px; height: 45%; min-width: 35%; width: 250px;">

          <mat-card-actions>
            <button mat-raised-button [routerLink]="['table-view', courts.id, 'details']" routerLinkActive="router-link-active"><span>({{courts.numCourts}})</span> Courts</button>
            <button mat-raised-button>SHARE</button>
          </mat-card-actions>
        </mat-card>
  </div>
</div>