<mat-card style="margin: 20px 20px 20px 20px;"> 
    <h2>The Grand Plan</h2>
    <mat-divider></mat-divider>
    <br>
    <p>We partnered with the parks and recreation.  We planted PIR sensors to each court.  We read its data feed live.  We tell you through this app its human readable data.  In this platform, you will learn about the court you want to play on whether its free for play or if it's taken.  Simple as that.</p>
    <p>In the near future: <br> 
        - We will post schedules in the court we service. <br>  
        - We will allow people to schedule matches in this platform. </p>
    <br>

    Enjoy it's many benefits for the tennis community! <button mat-raised-button (click)="goHome()">Got it.</button>
</mat-card>
